<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% if title %}
        <title>Py Poll - {{ title }}</title>
    {% else %}
        <title>Py Poll</title>
    {% endif %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light shadow-sm sticky-top">
            <div class="container">
                <a href="{{ url_for('main.home') }}" class="navbar-brand">Py Poll</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarItems">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarItems">
                    <div class="navbar-nav ml-auto" id="navItems">
                        <a href="{{ url_for('poll.newPoll') }}" class="navbar-item navbar-link btn btn-success mr-md-5">New Poll</a>
                        {% if is_authenticated %}
                            <a href="{{ url_for('admin.logout', next=poll_id) }}" class="navbar-item navbar-link btn btn-danger mr-md-5">
                                Logout
                            </a>
                        {% endif  %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main class="mt-3 mb-3">
        {% with messages = get_flashed_messages(with_categories=True) %}
                <div class="container">
                    {% for cat, msg in messages %}
                        <div class="row">
                            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                <div class="alert alert-{{ cat }}">{{ msg }}</div>
                            </div>
                        </div> 
                    {% endfor %}
                </div>
        {% endwith %}
        
        {% block content %}
        {% endblock content %}
    </main>
    <footer class="footer">
        <div class="container">
            Made with <span style="color: #e25555;">&#9829;</span> by <a href="https://www.facebook.com/Mehdiii" target="_blank">Mehdi</a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/getCookies.js') }}"></script>
    {% block JS %}
    {% endblock JS %}
</body>
</html>